.Home {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  margin-top: auto;
  padding-top: 15px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30%;
  font-family: "Inter";
  font-style: normal;
}

.wrapper-balance-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
