.BigBlueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: #1a73d0;
  text-decoration: none;
  min-height: 47px;
  margin-top: auto;
  max-height: 47px;
  margin-bottom: 10px;
  text-decoration: none;
  border: none;
}

.BigBlueButtonCaption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
