.qrCode-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.qrCode-title-container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  word-wrap: break-word;
  text-align: center;
}

.qrCode-container {
  display: flex;
  cursor: pointer;
  min-height: 100px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.qrCode-container > svg {
  width: 70% !important;
  height: 100% !important;
}
