body {
  background-color: #1d74d0;

  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE */
  user-select: none; /* Standard syntax */
}

.App {
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.Content {
  background-color: #fff;
  border-radius: 26px 26px 0 0;
  min-height: 100px;
  height: 100%;
  padding: 20px 16px 10px;
}
